In [ ]:
pip install pyspark==3.4.1

In [1]:
import os
# Java 8 path
os.environ['JAVA_HOME'] = '/Library/Java/JavaVirtualMachines/temurin-8.jdk/Contents/Home'

# PySpark path
os.environ['SPARK_HOME'] = '/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pyspark'

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Importing Session").getOrCreate()

25/11/25 22:19:45 WARN Utils: Your hostname, Dikshantas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.31.136 instead (on interface en0)
25/11/25 22:19:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/25 22:19:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/11/25 22:19:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
flights = spark.read.csv("/Users/dikshanta/Documents/Softwarica 2nd sem Fils/BigData/data/nyc_flights.csv", header = True, inferSchema = True)
flights.count()
flights.show()

+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
|2013|    1|  1|     517|           515|        2|     830|           819|       11|     UA|  1545| N14228|   EWR| IAH|     227|    1400|   5|    15|2013-01-01 15:45:00|
|2013|    1|  1|     533|           529|        4|     850|           830|       20|     UA|  1714| N24211|   LGA| IAH|     227|    1416|   5|    29|2013-01-01 15:45:00|
|2013|    1|  1|     542|           540|        2|     923|           850|       33|     AA|  1141| N619AA|   JFK| MIA|     160|    1089|   5|    40|2013-01-01 15:45:00|
|2013|    1|  1|     544|           545|       -1|    1004|          1022|      -18|     B6|   725| N804JB|   JFK| BQN|     183|    1576|   5|    45|2013-01-01 15:45:00|
|2013|    1|  1|     554|           600|       -6|     812|           837|      -25|     DL|   461| N668DN|   LGA| ATL|     116|     762|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     554|           558|       -4|     740|           728|       12|     UA|  1696| N39463|   EWR| ORD|     150|     719|   5|    58|2013-01-01 15:45:00|
|2013|    1|  1|     555|           600|       -5|     913|           854|       19|     B6|   507| N516JB|   EWR| FLL|     158|    1065|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     557|           600|       -3|     709|           723|      -14|     EV|  5708| N829AS|   LGA| IAD|      53|     229|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     557|           600|       -3|     838|           846|       -8|     B6|    79| N593JB|   JFK| MCO|     140|     944|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     558|           600|       -2|     753|           745|        8|     AA|   301| N3ALAA|   LGA| ORD|     138|     733|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     558|           600|       -2|     849|           851|       -2|     B6|    49| N793JB|   JFK| PBI|     149|    1028|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     558|           600|       -2|     853|           856|       -3|     B6|    71| N657JB|   JFK| TPA|     158|    1005|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     558|           600|       -2|     924|           917|        7|     UA|   194| N29129|   JFK| LAX|     345|    2475|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     558|           600|       -2|     923|           937|      -14|     UA|  1124| N53441|   EWR| SFO|     361|    2565|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     559|           600|       -1|     941|           910|       31|     AA|   707| N3DUAA|   LGA| DFW|     257|    1389|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     559|           559|        0|     702|           706|       -4|     B6|  1806| N708JB|   JFK| BOS|      44|     187|   5|    59|2013-01-01 15:45:00|
|2013|    1|  1|     559|           600|       -1|     854|           902|       -8|     UA|  1187| N76515|   EWR| LAS|     337|    2227|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     600|           600|        0|     851|           858|       -7|     B6|   371| N595JB|   LGA| FLL|     152|    1076|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     600|           600|        0|     837|           825|       12|     MQ|  4650| N542MQ|   LGA| ATL|     134|     762|   6|     0|2013-01-01 16:45:00|
|2013|    1|  1|     601|           600|        1|     844|           850|       -6|     B6|   343| N644JB|   EWR| PBI|     147|    1023|   6|     0|2013-01-01 16:45:00|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
only showing top 20 rows

In [6]:
len(flights.columns)

19

In [7]:

flights.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- sched_dep_time: integer (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- sched_arr_time: integer (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- time_hour: timestamp (nullable = true)

In [8]:
#Selevction
flights.select("year","month","day").show()
#select(flights,'year','month','day')

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 20 rows

In [9]:
flights.select("dep_delay").show()

+---------+
|dep_delay|
+---------+
|        2|
|        4|
|        2|
|       -1|
|       -6|
|       -4|
|       -5|
|       -3|
|       -3|
|       -2|
|       -2|
|       -2|
|       -2|
|       -2|
|       -1|
|        0|
|       -1|
|        0|
|        0|
|        1|
+---------+
only showing top 20 rows

In [10]:
#Index selection 
flights.select(flights.columns[0]).show()

+----+
|year|
+----+
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
+----+
only showing top 20 rows

In [11]:
flights.select(flights.columns[0:3]).show()

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 20 rows

In [12]:
flights.select(flights.columns[-3]).show()

+----+
|hour|
+----+
|   5|
|   5|
|   5|
|   5|
|   6|
|   5|
|   6|
|   6|
|   6|
|   6|
|   6|
|   6|
|   6|
|   6|
|   6|
|   5|
|   6|
|   6|
|   6|
|   6|
+----+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import*
from pyspark.sql.functions import*

In [14]:
flights.createOrReplaceTempView("flights_table")
query1 = spark.sql("SELECT year, month, day FROM flights_table")
query1.show()

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 20 rows

In [15]:
query2 = spark.sql("SELECT year, month, day FROM flights_table WHERE month = 1")
query2.show()

# Convert to Pandas
query2_pd = query2.toPandas()
query2_pd.head()

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 20 rows

   year  month  day
0  2013      1    1
1  2013      1    1
2  2013      1    1
3  2013      1    1
4  2013      1    1

In [16]:
#rename 
flights_renamed_columns = flights \
.withColumnRenamed("dest" , "destination") \
.withColumnRenamed('tailnum', 'tail_num')

In [17]:
flights_renamed_columns = flights_renamed_columns.toPandas()
flights_renamed_columns.head(5)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tail_num,origin,destination,air_time,distance,hour,minute,time_hour
0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01 15:45:00
1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01 15:45:00
2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01 15:45:00
3,2013,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2013-01-01 15:45:00
4,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01 16:45:00