In [25]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [26]:
os.environ['PYSPARK_PYTHON'] = 'python'
os.environ['JAVA_HOME'] = '/Library/Java/JavaVirtualMachines/jdk-11.jdk/Contents/Home'

In [27]:
spark = SparkSession.builder \
    .appName("Weather Flights Data Analysis") \
    .getOrCreate()

In [28]:
weather = spark.read.csv(
    "/Users/dikshanta/Documents/Softwarica 2nd sem Fils/bigdata/data/nyc_weather.csv",
    header=True,
    inferSchema=True
)

In [11]:
print(weather.count())
weather.show(5)
print(len(weather.columns))
weather.printSchema()

26115
+------+----+-----+---+----+-----+-----+-----+--------+------------------+---------+------+--------+-----+-------------------+
|origin|year|month|day|hour| temp| dewp|humid|wind_dir|        wind_speed|wind_gust|precip|pressure|visib|          time_hour|
+------+----+-----+---+----+-----+-----+-----+--------+------------------+---------+------+--------+-----+-------------------+
|   EWR|2013|    1|  1|   1|39.02|26.06|59.37|     270|10.357019999999999|       NA|   0.0|    1012| 10.0|2013-01-01 11:45:00|
|   EWR|2013|    1|  1|   2|39.02|26.96|61.63|     250|           8.05546|       NA|   0.0|  1012.3| 10.0|2013-01-01 12:45:00|
|   EWR|2013|    1|  1|   3|39.02|28.04|64.43|     240|           11.5078|       NA|   0.0|  1012.5| 10.0|2013-01-01 13:45:00|
|   EWR|2013|    1|  1|   4|39.92|28.04|62.21|     250|12.658579999999999|       NA|   0.0|  1012.2| 10.0|2013-01-01 14:45:00|
|   EWR|2013|    1|  1|   5|39.02|28.04|64.43|     260|12.658579999999999|       NA|   0.0|  1011.9| 10.0|2013-01-01 15:45:00|
+------+----+-----+---+----+-----+-----+-----+--------+------------------+---------+------+--------+-----+-------------------+
only showing top 5 rows

15
root
 |-- origin: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- temp: string (nullable = true)
 |-- dewp: string (nullable = true)
 |-- humid: string (nullable = true)
 |-- wind_dir: string (nullable = true)
 |-- wind_speed: string (nullable = true)
 |-- wind_gust: string (nullable = true)
 |-- precip: double (nullable = true)
 |-- pressure: string (nullable = true)
 |-- visib: double (nullable = true)
 |-- time_hour: timestamp (nullable = true)

In [12]:
weather.count()

26115

In [13]:
weather.show()

+------+----+-----+---+----+-----+-----+-----+--------+------------------+------------------+------+--------+-----+-------------------+
|origin|year|month|day|hour| temp| dewp|humid|wind_dir|        wind_speed|         wind_gust|precip|pressure|visib|          time_hour|
+------+----+-----+---+----+-----+-----+-----+--------+------------------+------------------+------+--------+-----+-------------------+
|   EWR|2013|    1|  1|   1|39.02|26.06|59.37|     270|10.357019999999999|                NA|   0.0|    1012| 10.0|2013-01-01 11:45:00|
|   EWR|2013|    1|  1|   2|39.02|26.96|61.63|     250|           8.05546|                NA|   0.0|  1012.3| 10.0|2013-01-01 12:45:00|
|   EWR|2013|    1|  1|   3|39.02|28.04|64.43|     240|           11.5078|                NA|   0.0|  1012.5| 10.0|2013-01-01 13:45:00|
|   EWR|2013|    1|  1|   4|39.92|28.04|62.21|     250|12.658579999999999|                NA|   0.0|  1012.2| 10.0|2013-01-01 14:45:00|
|   EWR|2013|    1|  1|   5|39.02|28.04|64.43|     260|12.658579999999999|                NA|   0.0|  1011.9| 10.0|2013-01-01 15:45:00|
|   EWR|2013|    1|  1|   6|37.94|28.04|67.21|     240|           11.5078|                NA|   0.0|  1012.4| 10.0|2013-01-01 16:45:00|
|   EWR|2013|    1|  1|   7|39.02|28.04|64.43|     240|14.960139999999999|                NA|   0.0|  1012.2| 10.0|2013-01-01 17:45:00|
|   EWR|2013|    1|  1|   8|39.92|28.04|62.21|     250|10.357019999999999|                NA|   0.0|  1012.2| 10.0|2013-01-01 18:45:00|
|   EWR|2013|    1|  1|   9|39.92|28.04|62.21|     260|14.960139999999999|                NA|   0.0|  1012.7| 10.0|2013-01-01 19:45:00|
|   EWR|2013|    1|  1|  10|   41|28.04|59.65|     260|13.809359999999998|                NA|   0.0|  1012.4| 10.0|2013-01-01 20:45:00|
|   EWR|2013|    1|  1|  11|   41|26.96|57.06|     260|14.960139999999999|                NA|   0.0|  1011.4| 10.0|2013-01-01 21:45:00|
|   EWR|2013|    1|  1|  13| 39.2| 28.4|69.67|     330|          16.11092|                NA|   0.0|      NA| 10.0|2013-01-01 23:45:00|
|   EWR|2013|    1|  1|  14|39.02|24.08|54.68|     280|13.809359999999998|                NA|   0.0|  1010.8| 10.0|2013-01-02 00:45:00|
|   EWR|2013|    1|  1|  15|37.94|24.08|57.04|     290|           9.20624|                NA|   0.0|  1011.9| 10.0|2013-01-02 01:45:00|
|   EWR|2013|    1|  1|  16|37.04|19.94|49.62|     300|13.809359999999998|20.714039999999997|   0.0|  1012.1| 10.0|2013-01-02 02:45:00|
|   EWR|2013|    1|  1|  17|35.96|19.04|49.83|     330|           11.5078|                NA|   0.0|  1013.2| 10.0|2013-01-02 03:45:00|
|   EWR|2013|    1|  1|  18|33.98|15.08|45.43|     310|12.658579999999999|25.317159999999998|   0.0|  1014.1| 10.0|2013-01-02 04:45:00|
|   EWR|2013|    1|  1|  19|33.08|12.92|42.84|     320|10.357019999999999|                NA|   0.0|  1014.4| 10.0|2013-01-02 05:45:00|
|   EWR|2013|    1|  1|  20|   32|15.08|49.19|     310|14.960139999999999|                NA|   0.0|  1015.2| 10.0|2013-01-02 06:45:00|
|   EWR|2013|    1|  1|  21|30.02|12.92|48.48|     320|          18.41248|          26.46794|   0.0|    1016| 10.0|2013-01-02 07:45:00|
+------+----+-----+---+----+-----+-----+-----+--------+------------------+------------------+------+--------+-----+-------------------+
only showing top 20 rows

In [14]:
len(weather.columns)

15

In [15]:
weather.printSchema()

root
 |-- origin: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- temp: string (nullable = true)
 |-- dewp: string (nullable = true)
 |-- humid: string (nullable = true)
 |-- wind_dir: string (nullable = true)
 |-- wind_speed: string (nullable = true)
 |-- wind_gust: string (nullable = true)
 |-- precip: double (nullable = true)
 |-- pressure: string (nullable = true)
 |-- visib: double (nullable = true)
 |-- time_hour: timestamp (nullable = true)

In [16]:
weather.select("day","month","hour").show(5)
weather.select("wind_dir").show(5)
weather.select(weather.columns[0]).show(5)
weather.select(weather.columns[0:3]).show(5)
weather.select(weather.columns[-3]).show(5)

+---+-----+----+
|day|month|hour|
+---+-----+----+
|  1|    1|   1|
|  1|    1|   2|
|  1|    1|   3|
|  1|    1|   4|
|  1|    1|   5|
+---+-----+----+
only showing top 5 rows

+--------+
|wind_dir|
+--------+
|     270|
|     250|
|     240|
|     250|
|     260|
+--------+
only showing top 5 rows

+------+
|origin|
+------+
|   EWR|
|   EWR|
|   EWR|
|   EWR|
|   EWR|
+------+
only showing top 5 rows

+------+----+-----+
|origin|year|month|
+------+----+-----+
|   EWR|2013|    1|
|   EWR|2013|    1|
|   EWR|2013|    1|
|   EWR|2013|    1|
|   EWR|2013|    1|
+------+----+-----+
only showing top 5 rows

+--------+
|pressure|
+--------+
|    1012|
|  1012.3|
|  1012.5|
|  1012.2|
|  1011.9|
+--------+
only showing top 5 rows

In [17]:
# Imporing the pyspark feature 
from pyspark.sql.functions import*
from pyspark.sql.functions import*

In [18]:
weather.createOrReplaceTempView("weather_table")

In [19]:
query1 = spark.sql("SELECT year, month, origin FROM weather_table")
query1.show(5)

+----+-----+------+
|year|month|origin|
+----+-----+------+
|2013|    1|   EWR|
|2013|    1|   EWR|
|2013|    1|   EWR|
|2013|    1|   EWR|
|2013|    1|   EWR|
+----+-----+------+
only showing top 5 rows

In [20]:
query2 = spark.sql("SELECT month FROM weather_table WHERE month = 1")
query2.show()

+-----+
|month|
+-----+
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
+-----+
only showing top 20 rows

In [21]:
import pandas as pd
query2 = query2.toPandas()
query2.head()

query3 = spark.sql("SELECT year, month, origin FROM weather_table WHERE month = 2")
query3.show()
query3 = query3.toPandas()
query3.head()

+----+-----+------+
|year|month|origin|
+----+-----+------+
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
|2013|    2|   EWR|
+----+-----+------+
only showing top 20 rows

   year  month origin
0  2013      2    EWR
1  2013      2    EWR
2  2013      2    EWR
3  2013      2    EWR
4  2013      2    EWR

In [24]:
from pyspark.sql.functions import col
import pandas as pd
import warnings

warnings.simplefilter(action='ignore', category=UserWarning)

# Rename columns
weather_renamed_columns = weather_table \
    .withColumnRenamed("visib", "visibility") \
    .withColumnRenamed("precip", "precipitation")

# Cast datetime columns to timestamp
for field in weather_renamed_columns.schema.fields:
    if str(field.dataType) in ['TimestampType', 'DateType']:
        weather_renamed_columns = weather_renamed_columns.withColumn(
            field.name, col(field.name).cast("timestamp")
        )

weather_renamed_columns_pd = weather_renamed_columns.toPandas()

# Convert datetime and numeric columns in Pandas
datetime_cols = ['date']  # example, change if needed
for c in datetime_cols:
    if c in weather_renamed_columns_pd.columns:
        weather_renamed_columns_pd[c] = pd.to_datetime(weather_renamed_columns_pd[c], errors='coerce')

numeric_cols = ['temp', 'wind_speed', 'visibility', 'precipitation']  # example
for c in numeric_cols:
    if c in weather_renamed_columns_pd.columns:
        weather_renamed_columns_pd[c] = pd.to_numeric(weather_renamed_columns_pd[c], errors='coerce')

print(weather_renamed_columns_pd.head(5))

NameError: name 'weather_table' is not defined