In [1]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [2]:
os.environ['PYSPARK_PYTHON'] = 'python'
os.environ['JAVA_HOME'] = '/Library/Java/JavaVirtualMachines/jdk-11.jdk/Contents/Home'

In [3]:
spark = SparkSession.builder \
    .appName("Importing and Data Slicing") \
    .getOrCreate()

25/11/24 20:02:45 WARN Utils: Your hostname, Dikshantas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.79 instead (on interface en0)
25/11/24 20:02:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/11/24 20:02:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/11/24 20:02:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
flights = spark.read.csv(
    "/Users/dikshanta/Documents/Softwarica 2nd sem Fils/bigdata/data/nyc_flights.csv",
    header=True,
    inferSchema=True
)

In [5]:
print(flights.count())
flights.show(5)
print(len(flights.columns))
flights.printSchema()

336776
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
|2013|    1|  1|     517|           515|        2|     830|           819|       11|     UA|  1545| N14228|   EWR| IAH|     227|    1400|   5|    15|2013-01-01 15:45:00|
|2013|    1|  1|     533|           529|        4|     850|           830|       20|     UA|  1714| N24211|   LGA| IAH|     227|    1416|   5|    29|2013-01-01 15:45:00|
|2013|    1|  1|     542|           540|        2|     923|           850|       33|     AA|  1141| N619AA|   JFK| MIA|     160|    1089|   5|    40|2013-01-01 15:45:00|
|2013|    1|  1|     544|           545|       -1|    1004|          1022|      -18|     B6|   725| N804JB|   JFK| BQN|     183|    1576|   5|    45|2013-01-01 15:45:00|
|2013|    1|  1|     554|           600|       -6|     812|           837|      -25|     DL|   461| N668DN|   LGA| ATL|     116|     762|   6|     0|2013-01-01 16:45:00|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
only showing top 5 rows

19
root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- sched_dep_time: integer (nullable = true)
 |-- dep_delay: string (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- sched_arr_time: integer (nullable = true)
 |-- arr_delay: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- flight: integer (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: string (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)
 |-- time_hour: timestamp (nullable = true)

In [6]:
flights.select("year","month","day").show(5)
flights.select("dep_delay").show(5)
flights.select(flights.columns[0]).show(5)
flights.select(flights.columns[0:3]).show(5)
flights.select(flights.columns[-3]).show(5)

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 5 rows

+---------+
|dep_delay|
+---------+
|        2|
|        4|
|        2|
|       -1|
|       -6|
+---------+
only showing top 5 rows

+----+
|year|
+----+
|2013|
|2013|
|2013|
|2013|
|2013|
+----+
only showing top 5 rows

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 5 rows

+----+
|hour|
+----+
|   5|
|   5|
|   5|
|   5|
|   6|
+----+
only showing top 5 rows

In [8]:
flights.createOrReplaceTempView("flights_table")

In [9]:
query1 = spark.sql("SELECT year, month, day FROM flights_table")
query1.show(5)

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 5 rows

In [10]:
query2 = spark.sql("SELECT year, month, day FROM flights_table WHERE month = 1")
query2.show(5)

+----+-----+---+
|year|month|day|
+----+-----+---+
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
|2013|    1|  1|
+----+-----+---+
only showing top 5 rows

In [11]:
query2_pd = query2.toPandas()
print(query2_pd.head())

   year  month  day
0  2013      1    1
1  2013      1    1
2  2013      1    1
3  2013      1    1
4  2013      1    1

In [20]:
for field in flights_renamed_columns.schema.fields:
    if str(field.dataType) in ['TimestampType', 'DateType']:
        flights_renamed_columns = flights_renamed_columns.withColumn(
            field.name,
            col(field.name).cast("timestamp")
        )

flights_renamed_columns_pd = flights_renamed_columns.toPandas()


import warnings
warnings.simplefilter(action='ignore', category=UserWarning)

datetime_cols = ['time_hour']  
for c in datetime_cols:
    if c in flights_renamed_columns_pd.columns:
        flights_renamed_columns_pd[c] = pd.to_datetime(
            flights_renamed_columns_pd[c], format='%Y-%m-%d %H:%M:%S', errors='coerce'
        )


numeric_cols = ['dep_time', 'arr_time', 'dep_delay', 'arr_delay', 'air_time']
for col_name in numeric_cols:
    if col_name in flights_renamed_columns_pd.columns:
        flights_renamed_columns_pd[col_name] = pd.to_numeric(
            flights_renamed_columns_pd[col_name], errors='coerce'
        )

# ðŸ”¹ Preview the final DataFrame
print(flights_renamed_columns_pd.head(5))
print(flights_renamed_columns_pd.dtypes)

   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2013      1    1     517.0             515        2.0     830.0
1  2013      1    1     533.0             529        4.0     850.0
2  2013      1    1     542.0             540        2.0     923.0
3  2013      1    1     544.0             545       -1.0    1004.0
4  2013      1    1     554.0             600       -6.0     812.0

   sched_arr_time  arr_delay carrier  flight tail_num origin destination  \
0             819       11.0      UA    1545   N14228    EWR         IAH
1             830       20.0      UA    1714   N24211    LGA         IAH
2             850       33.0      AA    1141   N619AA    JFK         MIA
3            1022      -18.0      B6     725   N804JB    JFK         BQN
4             837      -25.0      DL     461   N668DN    LGA         ATL

   air_time  distance  hour  minute           time_hour
0     227.0      1400     5      15 2013-01-01 15:45:00
1     227.0      1416     5      29 2013-01-01 15:45:00
2     160.0      1089     5      40 2013-01-01 15:45:00
3     183.0      1576     5      45 2013-01-01 15:45:00
4     116.0       762     6       0 2013-01-01 16:45:00
year                       int32
month                      int32
day                        int32
dep_time                 float64
sched_dep_time             int32
dep_delay                float64
arr_time                 float64
sched_arr_time             int32
arr_delay                float64
carrier                   object
flight                     int32
tail_num                  object
origin                    object
destination               object
air_time                 float64
distance                   int32
hour                       int32
minute                     int32
time_hour         datetime64[ns]
dtype: object